/* Weather Dashboard container */
.weather-dashboard {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #030000;
    padding: 20px;
    position: relative;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    height: 100vh;
    background-size: cover;
 /* Updated gradient colors */
  }
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #fff; /* Text color for better contrast */
  }
  
  /* Search container */
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  /* Search input */
  .search-input {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 20px; /* Rounded corners for search input */
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.2); /* Light black card background */
    color: #fff; /* Text color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow and blur */
  }
  
  /* Search button */
  .button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  /* Toggle button */
  .toggle-container {
    display: flex;
    align-items: center;
    margin-top: 10px; /* Adjust margin for spacing */
  }
  
  /* Toggle button slider */
  .toggle-button-slider {
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
    margin-left: 10px;
    transition: background-color 0.3s ease;
  }
  
  .toggle-button-slider:before {
    content: '';
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    transition: left 0.3s ease, background-color 0.3s ease;
  }
  
  .toggle-button.active .toggle-button-slider {
    background-color: #2ecc71;
  }
  
  .toggle-button.active .toggle-button-slider:before {
    left: 24px;
    background-color: white;
  }
  
  /* Hide input type checkbox */
  .toggle-checkbox {
    display: none;
  }
  
  /* Error message */
  .error {
    color: #e74c3c;
    font-size: 18px;
    margin-top: 10px;
  }
  
  /* Loading spinner */
  .loading-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .spinner {
    border: 6px solid rgba(255, 255, 255, 0.3);
    border-top: 6px solid #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Cards container */
  .card {
    width: 350px;
    height: 235px;
    position: relative;
    padding: 25px;
    background: radial-gradient(178.94% 106.41% at 26.42% 106.41%, #FFF7B1 0%, rgba(255, 255, 255, 0) 71.88%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FFFFFF;
    box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01), 0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09), 0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 23px;
    transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
    cursor: pointer;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .container {
    width: 250px;
    height: 250px;
    position: absolute;
    right: -35px;
    top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.7);
  }
  
  .cloud {
    width: 250px;
  }
  
  .front {
    padding-top: 45px;
    margin-left: 25px;
    display: inline;
    position: absolute;
    z-index: 11;
    animation: clouds 8s infinite;
    animation-timing-function: ease-in-out;
  }
  
  .back {
    margin-top: -30px;
    margin-left: 150px;
    z-index: 12;
    animation: clouds 12s infinite;
    animation-timing-function: ease-in-out;
  }
  
  .right-front {
    width: 45px;
    height: 45px;
    border-radius: 50% 50% 50% 0%;
    background-color: #4c9beb;
    display: inline-block;
    margin-left: -25px;
    z-index: 5;
  }
  
  .left-front {
    width: 65px;
    height: 65px;
    border-radius: 50% 50% 0% 50%;
    background-color: #4c9beb;
    display: inline-block;
    z-index: 5;
  }
  
  .right-back {
    width: 50px;
    height: 50px;
    border-radius: 50% 50% 50% 0%;
    background-color: #4c9beb;
    display: inline-block;
    margin-left: -20px;
    z-index: 5;
  }
  
  .left-back {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 0% 50%;
    background-color: #4c9beb;
    display: inline-block;
    z-index: 5;
  }
  
  .sun {
    width: 120px;
    height: 120px;
    background: -webkit-linear-gradient(to right, #fcbb04, #fffc00);
    background: linear-gradient(to right, #fcbb04, #fffc00);
    border-radius: 60px;
    display: inline;
    position: absolute;
  }
  
  .sunshine {
    animation: sunshines 2s infinite;
  }
  
  @keyframes sunshines {
    0% {
      transform: scale(1);
      opacity: 0.6;
    }
  
    100% {
      transform: scale(1.4);
      opacity: 0;
    }
  }
  
  @keyframes clouds {
    0% {
      transform: translateX(15px);
    }
  
    50% {
      transform: translateX(0px);
    }
  
    100% {
      transform: translateX(15px);
    }
  }
  
  .card-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .card-header span:first-child {
    word-break: break-all;
    font-weight: 800;
    font-size: 15px;
    line-height: 135%;
    color: rgba(87, 77, 51, 0.66);
  }
  
  .card-header span:last-child {
    font-weight: 700;
    font-size: 15px;
    line-height: 135%;
    color: rgba(87, 77, 51, 0.33);
  }
  
  .temp {
    position: absolute;
    left: 25px;
    bottom: 12px;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: rgba(87, 77, 51, 1);
  }
  
  .temp-scale {
    width: 80px;
    height: 36px;
    position: absolute;
    right: 25px;
    bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.06);
    border-radius: 9px;
  }
  
  .temp-scale span {
    font-weight: 700;
    font-size: 13px;
    line-height: 134.49%;
    color: rgba(87, 77, 51, 0.66);
  }
  .cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
  
  /* Highlighted temperature value */
  .temperature {
    font-size: 20px;
    margin: 10px 0;
    background-color: #3498db; /* Highlight background color */
    color: #fff; /* Highlight text color */
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  /* Highlighted values */
  .humidity,
  .weather-condition,
  .wind-speed,
  .pressure {
    font-size: 16px;
    margin: 5px 0;
    background-color: #f1c40f; /* Highlight background color */
    color: #333; /* Text color for better contrast */
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .delete-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .delete-button:hover {
    background-color: #c0392b;
  }
  h1{
    color: #000000;
  }
  ::placeholder{
     color: black;
  }
  .cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .previous{
    margin-top: 64px;
    margin-right: 32px;
    
  }
  .next{
    margin-top: 64px;
    margin-left: 32px;
  }
  .tog{
    margin-left: 26px;
  }
  /* Styles for Mobile View */
@media (max-width: 768px) {
  .search-input {
    font-size: 14px;
  }
  /* Adjust other styles for mobile screens */
}

/* Styles for Tablet View */
@media (min-width: 769px) and (max-width: 1024px) {
  .search-input {
    font-size: 16px;
  }
  /* Adjust other styles for tablet screens */
}
